<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Recipe Suggestions</title>
</head>

<body>
    <h1>Recipe Suggestions</h1>
    <form action="/recipes" method="GET" class="search-form">
        <label for="ingredients" class="input-label">Enter Ingredients (comma-separated):</label><br>
        <input type="text" id="ingredients" name="ingredients" class="input-field"><br><br>
        <input type="hidden" name="sex" value="{{ request.args.get('sex') }}">
        <input type="hidden" name="age" value="{{ request.args.get('age') }}">
        <input type="hidden" name="weight" value="{{ request.args.get('weight') }}">

        <button type="submit" class="submit-button">Submit</button>
    </form>
    <body>
        <p>User Details:</p>
        <ul>
            <li>Sex: {{ sex }}</li>
            <li>Age: {{ age }}</li>
            <li>Weight: {{ weight }}</li>
        </ul>
    </body>
    {% if recipes %}
    <ul class="recipe-list">
        {% for recipe in recipes %}
        <li class="recipe-item">
            <h2 class="recipe-title">{{ recipe.label }}</h2>
            <img src="{{ recipe.image }}" alt="{{ recipe.label }}" class="recipe-image">
            <div class="recipe-details">
                <h3 class="detail-title">Servings:</h3>
                <p class="detail-value">{{ recipe.yield }}</p>
                <h3 class="detail-title">Ingredients:</h3>
                <ul class="ingredient-list">
                    {% for ingredient_line in recipe.ingredient_lines %}
                    <li class="ingredient-item">{{ ingredient_line }}</li>
                    {% endfor %}
                </ul>
                <button class="see-details-button">See more details</button> <!-- Button added here -->
                <div class="details-popup">
                    <button class="close-button" aria-label="Close popup">&times;</button> <!-- Close button -->
                    <h3 class="detail-title">Instructions:</h3>
                    <ol class="instruction-list">
                        {% if recipe.url %}
                        <li><a href="{{ recipe.url }}" target="_blank" class="instruction-link">Link to Instructions</a>
                        </li>
                        {% else %}
                        <li>No instructions available</li>
                        {% endif %}
                    </ol>
                    <h3 class="detail-title">Calories per Serving:</h3>
                    <p class="detail-value">{{ recipe.calories_per_serving | round }}</p>
                    <h3 class="detail-title">Micro-Nutrients per Serving:</h3>
                    <ul class="nutrient-list">
                        {% for nutrient_label, nutrient_value in recipe.micro_nutrients_per_serving.items() %}
                        <li class="nutrient-item">
                            <span class="nutrient-label">{{ nutrient_label }}:</span>
                            <span class="nutrient-value">{{ nutrient_value | round }} {{
                                recipe.nutrient_units.get(nutrient_label, '') }}</span>
                            {% if nutrient_label in comparison_to_rni %}
                            <span class="rni-percentage">{{ "%0.2f" % (comparison_to_rni[nutrient_label] *100)
                                }}%</span>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% elif error %}
    <p class="error-message">{{ error }}</p>
    {% endif %}

    <!-- Add popup overlay element -->
    <div class="popup-overlay"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>