<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Recipe Suggestions</title>
</head>

<body>
    <h1>Recipe Suggestions</h1>
    <form action="/recipes" method="GET" class="search-form">
        <!-- Ingredients input field -->
        <div class="input-container">
            <label for="ingredients" class="input-label">Enter Ingredients:</label><br>
            <input type="text" id="ingredients" name="ingredients" class="input-field"
                value="{{ request.args.get('ingredients', '') }}">
        </div><br><br>

        <!-- Filters container -->
        <div class="filters-container">
            <!-- Dropdown for meal types -->
            <div class="input-container">
                <label for="meal_type" class="input-label">Meal Type:</label>
                <select id="meal_type" name="meal_type" class="input-field dropdown-field">
                    <option value="">Any</option>
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Dinner</option>
                </select>
            </div>

            <!-- Dropdown for diet labels -->
            <div class="input-container">
                <label for="diet_label" class="input-label">Diet Label:</label>
                <select id="diet_label" name="diet_label" class="input-field dropdown-field">
                    <option value="">Any</option>
                    <option value="balanced">Balanced</option>
                    <option value="high-protein">High-Protein</option>
                    <option value="low-carb">Low-Carb</option>
                </select>
            </div>

            <!-- Dropdown for health labels -->
            <div class="input-container">
                <label for="health_label" class="input-label">Health Label:</label>
                <select id="health_label" name="health_label" class="input-field dropdown-field">
                    <option value="">Any</option>
                    <option value="vegan">Vegan</option>
                    <option value="vegetarian">Vegetarian</option>
                    <option value="paleo">Paleo</option>
                </select>
            </div>

            <!-- Dropdown for glycemic index -->
            <div class="input-container">
                <label for="glycemic_index" class="input-label">Glycemic Index:</label>
                <select id="glycemic_index" name="glycemic_index" class="input-field dropdown-field">
                    <option value="">Any</option>
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                </select>
            </div>
        </div><br><br>

        <!-- Hidden fields for user details -->
        <input type="hidden" name="sex" value="{{ request.args.get('sex') }}">
        <input type="hidden" name="age" value="{{ request.args.get('age') }}">
        <input type="hidden" name="weight" value="{{ request.args.get('weight') }}">

        <button type="submit" class="submit-button">Submit</button>
    </form>
    <section class="user-details">
        <p>User Details:</p>
        <ul>
            <li>Sex: {{ sex }}</li>
            <li>Age: {{ age }}</li>
            <li>Weight: {{ weight }}</li>
        </ul>
    </section>
    {% if recipes %}
    <ul class="recipe-list">
        {% for recipe in recipes %}
        <li class="recipe-item">
            <h2 class="recipe-title">{{ recipe.label }}</h2>
            <img src="{{ recipe.image }}" alt="{{ recipe.label }}" class="recipe-image">
            <div class="recipe-details">
                <h3 class="detail-title">Servings:</h3>
                <p class="detail-value">{{ recipe.yield }}</p>
                <h3 class="detail-title">Ingredients:</h3>
                <ul class="ingredient-list">
                    {% for ingredient_line in recipe.ingredient_lines %}
                    <li class="ingredient-item">{{ ingredient_line }}</li>
                    {% endfor %}
                </ul>
                <button class="see-details-button">See more details</button> <!-- Button added here -->
                <div class="details-popup">
                    <button class="close-button" aria-label="Close popup">&times;</button>
                    <h3 class="detail-title">Instructions:</h3>
                    <ol class="instruction-list">
                        {% if recipe.url %}
                        <li><a href="{{ recipe.url }}" target="_blank" class="instruction-link">Link to Instructions</a>
                        </li>
                        {% else %}
                        <li>No instructions available</li>
                        {% endif %}
                    </ol>
                    <h3 class="detail-title">Calories per Serving:</h3>
                    <p class="detail-value">{{ recipe.calories_per_serving | default('') | round }}</p>
                    <h3 class="detail-title">Micro-Nutrients per Serving:</h3>
                    <table class="nutrient-table">
                        <tr>
                            <th>Nutrient</th>
                            <th>Amount</th>
                            <th>RNI Comparison (%)</th>
                        </tr>
                        {% for nutrient_label, nutrient_value in recipe.micro_nutrients_per_serving.items() %}
                        <tr>
                            <td>{{ nutrient_label }}</td>
                            <td>{% if nutrient_value is defined %}{{ nutrient_value | round }} {% else %}&nbsp;{% endif
                                %} {{ recipe.nutrient_units.get(nutrient_label, '') }}</td>
                            <td>
                                {% if nutrient_label in recipe.comparison_to_rni %}
                                {{ recipe.comparison_to_rni[nutrient_label] | default('') | round(2) }}%
                                {% else %}
                                &nbsp;
                                {% endif %}
                            </td>
                        </tr>
                        {% if nutrient_label == 'Fats' %}
                        <tr>
                            <td>&emsp;Saturated</td>
                            <td>{% if recipe.micro_nutrients_per_serving['Saturated'] is defined %}{{
                                recipe.micro_nutrients_per_serving['Saturated'] | round }} {% else %}&nbsp;{% endif %}
                                {{ recipe.nutrient_units.get('Saturated', '') }}</td>
                            <td>
                                {% if 'Saturated' in recipe.comparison_to_rni %}
                                {{ recipe.comparison_to_rni['Saturated'] | default('') | round(2) }}%
                                {% else %}
                                &nbsp;
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>&emsp;Trans</td>
                            <td>{% if recipe.micro_nutrients_per_serving['Trans'] is defined %}{{
                                recipe.micro_nutrients_per_serving['Trans'] | round }} {% else %}&nbsp;{% endif %} {{
                                recipe.nutrient_units.get('Trans', '') }}</td>
                            <td>
                                {% if 'Trans' in recipe.comparison_to_rni %}
                                {{ recipe.comparison_to_rni['Trans'] | default('') | round(2) }}%
                                {% else %}
                                &nbsp;
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>&emsp;Monounsaturated</td>
                            <td>{% if recipe.micro_nutrients_per_serving['Monounsaturated'] is defined %}{{
                                recipe.micro_nutrients_per_serving['Monounsaturated'] | round }} {% else %}&nbsp;{%
                                endif %} {{ recipe.nutrient_units.get('Monounsaturated', '') }}</td>
                            <td>
                                {% if 'Monounsaturated' in recipe.comparison_to_rni %}
                                {{ recipe.comparison_to_rni['Monounsaturated'] | default('') | round(2) }}%
                                {% else %}
                                &nbsp;
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}

                        {% if nutrient_label == 'Carbs' %}
                        <tr>
                            <td>&emsp;Fibre</td>
                            <td>{% if recipe.micro_nutrients_per_serving['Fibre'] is defined %}{{
                                recipe.micro_nutrients_per_serving['Fibre'] | round }} {% else %}&nbsp;{% endif %} {{
                                recipe.nutrient_units.get('Fibre', '') }}</td>
                            <td>
                                {% if 'Fibre' in recipe.comparison_to_rni %}
                                {{ recipe.comparison_to_rni['Fibre'] | default('') | round(2) }}%
                                {% else %}
                                &nbsp;
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>&emsp;Sugars</td>
                            <td>{% if recipe.micro_nutrients_per_serving['Sugars'] is defined %}{{
                                recipe.micro_nutrients_per_serving['Sugars'] | round }} {% else %}&nbsp;{% endif %} {{
                                recipe.nutrient_units.get('Sugars', '') }}</td>
                            <td>
                                {% if 'Sugars' in recipe.comparison_to_rni %}
                                {{ recipe.comparison_to_rni['Sugars'] | default('') | round(2) }}%
                                {% else %}
                                &nbsp;
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>

                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="error-message">{{ error }}</p>
    {% endif %}

    <!-- Add popup overlay element -->
    <div class="popup-overlay"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>